*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(17, 16, 16, 0), rgb(218, 5, 5));
}

.slider-background {
    margin: auto;
    height: 70vh;
    width: 75vw;
    display: flex;
    background-image: url("./assets/slider-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider-part {
    flex-basis: 50%;
}

.slider-part-one {
    cursor: url("./assets/left-arrow.png"), default;
}

.slider-part-two {
    cursor: url("./assets/right-arrow.png"), default;
}